* {
  font-family: 'Poppins', sans-serif;
}
.h-font {
  font-family: 'Merienda', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.custom-bg {
  background-color: #2e44c1;
  border: 1px solid #2e44c1;
}
.custom-bg:hover {
  background-color: #203088;
  border-color: #203088;
}

.custom-bg-back {
  background-color: #b4b4b4;
  border: 1px solid #b4b4b4;
}
.custom-bg-back:hover {
  background-color: #979797;
  border-color: #979797;
}
